<?xml version="1.0" encoding="utf-8"?>
<PackageConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Namespace>Starcounter.InvoiceDemo</Namespace>
  <Channel>Stable</Channel>
  <Version>1.0.0</Version>
  <AppName>InvoiceDemo</AppName>
  <Executable>app/InvoiceDemo.exe</Executable>
  <ResourceFolder>content</ResourceFolder>
  <ImageUri>InvoiceDemo.png</ImageUri>
  <Company>Starcounter</Company>
  <DisplayName>InvoiceDemo</DisplayName>
  <Description>InvoiceDemo tutorial can be found on http://starcounter.io/tutorials</Description>
  <VersionDate>2016-08-19T10:34:26Z</VersionDate>
  <Dependency name="Starcounter">~2.2.1834</Dependency>
</PackageConfig>
