body {
    background: #ffffff;
    font-family: sans-serif;
    font-weight: normal;
    display: flex;
    margin: 0px;
    padding: 10px;
}
section {
    flex: 0 1 auto;
    border: 1px solid rgb(226, 226, 226);
    background: #FCFCFC;
    border-radius: 5px;
    padding: 10px 20px 20px 20px;
    margin: 10px;
}
section.invoice {
    flex: 1 1 auto;
}
input, select, textarea, button {
    font-family: inherit;
}
input {
    font-size: 100%;
}
/* Header */
h3 {
    margin: 0px 0px 10px 0px;
    padding: 0px;
    font-size: 24px;
    line-height: 40px;
    color: black;
}
.invoiceSubtitle {
    margin: 10px 0px 20px 0px;
}
.invoiceSubtitle label {
    display: block;
    margin-bottom: 3px;
}
.invoiceSubtitle input {
    margin-top: 3px;
    padding: 6px 10px 6px 10px;
    border: 1px solid #cccccc;
}
table.invoiceTable {
    border-collapse: collapse;
}
table.invoiceTable th {
    border-width: 1px 1px 1px 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-style: solid;
    border-color: #cccccc;
    color: #000000;
    background-color: #eeeeee;
    font-weight: bold;
    min-width: 100px;
}
table.invoiceTable th:first-child {
    text-align: left;
    padding-left: 10px;
}
table.invoiceTable th:last-child {
    text-align: right;
    padding-right: 10px;
}
table.invoiceTable td {
    border-width: 1px;
    padding: 0px;
    margin: 0px;
    border-style: solid;
    border-color: #cccccc;
    background-color: #ffffff;
}
table.invoiceTable td input {
    margin: 0px;
    padding: 6px 10px 6px 10px;
    border-width: 0px;
}
table.invoiceTable td input[type=number] {
    text-align: right;
    padding-right: 0px;
}
table.invoiceTable td.readonlycell {
    padding: 6px 10px 6px 10px;
}
table.invoiceTable td.alignright {
    text-align: right;
}
table.invoiceTable tfoot td:first-child {
    border-left-width: 0;
    border-bottom-width: 0;
}

button {
    margin: 0px 0px 6px 4px;
    padding: 8px 15px 8px 15px;
    background: #4479BA;
    color: #FFF;
    border: 0px;
}
table.invoiceTable .total {
    background: #eeeeee;
    text-align:right;
    color:black;
    padding: 6px 10px 6px 10px;
    font-weight: bold;
}
button:hover, button:focus  {
    -webkit-animation: pulsate 1.2s linear infinite;
    animation: pulsate 1.2s linear infinite;
}
table.invoiceTable caption {
    caption-side: bottom;
    text-align: right;
    margin-top: 10px;
}
table.invoiceTable a:link {
    text-align:center;
    color: #3d85b4;
    text-decoration:underline;
    padding: 6px 10px 6px 10px;
}
table.invoiceTable a:visited {
    color: #3d85b4;
    text-decoration:underline
}
table.invoiceTable a:active,
table.invoiceTable a:hover {
    color: #59a0c3;
    text-decoration:underline
}